<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="dashboard.component.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <span class="navbar-brand btn" (click)="goToMainPage()">RODAN</span>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <span class="nav-link btn" (click)="goToMainPage()">Home</span>
            </li>
            <li class="nav-item">
              <span class="nav-link btn" (click)="goToMainPage()">Profile</span>
            </li>
            <li class="nav-item">
              <span class="nav-link btn" (click)="logOut()">Logout</span>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Title and Create Room Button -->
    <div class="container my-4 text-center">
      <h1 class="d-inline-block">Game Rooms</h1>
      <div>
        <button
          (click)="makeRoom()"
          class="btn btn-success d-inline-block ml-3"
        >
          Create Room
        </button>
        <button (click)="refresh()" class="btn btn-success d-inline-block ml-3">
          Refresh
        </button>
        <button (click)="logOut()" class="btn btn-danger d-inline-block ml-3">
          Log Out
        </button>
      </div>
    </div>

    <!-- Game Rooms Section -->
    <h2 class="container my-4 text-center" *ngIf="loading">Loading rooms...</h2>
    <div class="container my-4" *ngIf="!loading">
      <div class="row">
        <div class="col-md-6 mb-4" *ngFor="let room of rooms">
          <div class="card bg-dark text-white">
            <div class="card-body">
              <h5 class="card-title">{{ room.id }}</h5>
              <p class="card-text">Players: {{ room.players.length }}</p>
              <p class="card-text">Spectators: {{ room.spectators.length }}</p>
              <button (click)="joinRoom(room.id)" class="btn btn-success mr-2">
                Join as Player
              </button>
              <!-- <button class="btn btn-success">Join as Spectator</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
