<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Dashboard</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="game-room.component.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">RODAN</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container my-4 text-center" *ngIf="currentState === 0">
      <h2>Loading...</h2>
    </div>

    <div class="container my-4" *ngIf="currentState === 1 && room">
      <div class="row">
        <div class="col-12 mb-4">
          <div
            *ngFor="let player of room.players; let i = index"
            class="player-card"
          >
            <div class="card bg-dark text-white">
              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <h5 class="card-title">
                  Player {{ i + 1 }}: {{ player.username }}
                </h5>
                <button
                  *ngIf="self && self.id.toString() === player.id.toString()"
                  (click)="toggleReady()"
                  class="btn btn-success"
                >
                  Toggle Ready
                </button>
                <p class="card-text">
                  Status: {{ room.playersReady[i] ? "Ready" : "Not Ready" }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <button
            (click)="startGame()"
            class="btn btn-success"
            [disabled]="
              room.players.length < 2 || !room.playersReady.every(checkBoolean)
            "
          >
            Start Game
          </button>
        </div>
      </div>
    </div>

    <div class="container my-4" *ngIf="currentState === 2 && room && match">
      <div class="row">
        <div class="col-12 mb-4">
          <div
            *ngFor="let player of room.players; let i = index"
            class="player-card"
          >
            <div class="card bg-dark text-white">
              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <h5 class="card-title">
                  Player {{ i + 1 }}: {{ player.username }}
                </h5>
                <p class="card-text">Score: {{ match.scores[player.id] }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <h4 *ngIf="match.round < match.maxRound">
            Round {{ match.round + 1 }} out of {{ match.maxRound }} - Get
            Ready...
          </h4>
          <h4 *ngIf="match.round >= match.maxRound">Thanks for playing!</h4>
          <countdown
            [config]="{
              leftTime: (match.endTime - match.startTime) / 1000
            }"
          ></countdown>
        </div>
      </div>
    </div>

    <div class="container my-4" *ngIf="currentState === 3 && room && match">
      <div class="row">
        <div class="col-12 mb-4">
          <div
            *ngFor="let player of room.players; let i = index"
            class="player-card"
          >
            <div class="card bg-dark text-white">
              <div
                class="card-body d-flex justify-content-between align-items-center"
              >
                <h5 class="card-title">
                  Player {{ i + 1 }}: {{ player.username }}
                </h5>
                <p class="card-text">Score: {{ match.scores[player.id] }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <h4>Round {{ match.round + 1 }}</h4>
          <h6>{{ match.roundStats[match.round].prompt }}</h6>
          <countdown
            [config]="{
              leftTime: (match.endTime - match.startTime) / 1000
            }"
          ></countdown>
        </div>
        <div class="col-12 text-center my-4">
          <div *ngIf="checkIfSelfSubmittedPic()">
            <div *ngIf="this.self">
              <h6>
                Objects recognized:
                {{
                  this.match.roundStats[this.match.round].submittedPicture[
                    this.self.id
                  ].objects.toString()
                }}
              </h6>
              <h6>
                Best Object:
                {{
                  this.match.roundStats[this.match.round].submittedPicture[
                    this.self.id
                  ].bestObject
                }}
              </h6>
              <h6>
                Score given:
                {{
                  this.match.roundStats[this.match.round].submittedPicture[
                    this.self.id
                  ].score
                }}
              </h6>
            </div>
          </div>
          <div style="height: 100%">
            <webcam
              [height]="calcCameraHeight()"
              [width]="calcCameraWidth()"
              [trigger]="triggerObservable"
              (imageCapture)="handleImageCapture($event)"
            ></webcam>
          </div>
          <button (click)="takePicture()">Send Picture</button>

          <!-- <button (click)="takePicture()" class="btn btn-success">
            Take Picture
          </button> -->
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
